# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite3

# Uploads
app/uploads/

# Flask
instance/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
